#keyboard_section{
	width: 400px;
}

#output{
	width: 400px;
	text-align:center;
	font-size: 30px;
}
#status_image{
	width: 400px;
	height:400px;
}
#reset{
	text-align center;
}
#guesses{
	width: 400px;
}
#game_box {
	font-family: sans-serif;
	margin: auto;
	width: 400px;
	padding: 1em;
	background-image: linear-gradient(to left, red,orange,yellow,green,blue,indigo);
	
}
.keyboard_button{
	width: 30px;
	margin: 2px;

}
body {
	color: black;
	font-weight: bold;
	background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
button {
	color: blue;
	background-color: red;
}